<%
facets = @searcher.available_facets || []
  taxon_names = @taxon ? @taxon.self_and_descendants.map(&:name) : []
  for facet in facets 
    options = facet.options
    if facet.name == "price_range"
      options = options.sort{|x, y| x.name <=> y.name}
    else
      options = options.sort{|x, y| y.count <=> x.count}
    end
    unless options.empty? %>
      <h6 class="taxonomy-root"><%= t "#{facet.name}_facet" %></h6>
      <ul class="taxons-list"><%
        for option in options %>
          <li>
            <%= link_to_facet(facet.name, option.name, option.count) %>
          </li><%
        end %> 
      </ul><%
    end
  end 
%>
