<% 
facets = Spree::Config.searcher.facets || {"facet_fields" => {}} 
facets["facet_fields"].each do |name, options|
  next if options.size <= 1
%>
  <h4><%= t name %></h4>
  <ul>
  <% options.each do |value, count| %>
    <li>
      <%
      name = name.sub('_facet', '')
      facets_hash = params[:facets] || {}
      facets_hash = facets_hash.merge({name => ["\"#{value}\"", facets_hash[name]].join(',')})
      -%>
      <%= link_to value, :overwrite_params => params.merge({:facets => facets_hash}) %>
      (<%= count %>)
    </li>
  <% end %>
  </ul>
<% end %>
