<% 
facets = Spree::Config.searcher.facets || []
  taxon_names = @taxon ? @taxon.self_and_descendants.map(&:name) : []
  for facet in facets 
    options = facet.options.sort{|x,y| y.count <=> x.count} 
    unless options.empty? %>
      <h4><%= t "#{facet.name}_facet" %></h4>
      <ul><%
        for option in options %>
          <li>
            <%= link_to_facet(facet.name, option.name, option.count) %>
          </li><%
        end %> 
      </ul><%
    end
  end 
%>
