<% if suggestion = Spree::Config.searcher.suggest %>
  <p>
    <%= t(:did_you_mean, :default => "Did you mean") %> 
    <%= link_to h(suggestion), :overwrite_params => { :keywords => suggestion } %>?
  </p>
<% end %>
